In [1]:
import pandas as pd
from src.utils import clean_column_names
from src.email_verifier import verify_emails
from src.lead_scoring import score_leads

In [4]:
df = pd.read_csv("D:/Virtual-Internships/caprae-leadgen/Caprae-LeadGen-Enhancer/sample_leads.csv")  # adjust path if needed
df.head()

,company_name,industry,funding_stage,employee_count,location,email
0,TechNova,SaaS,Series B,150,United States,contact@technova.com
1,FinSmart,Fintech,Seed,8,Canada,hello@finsmart
2,EduHive,EdTech,Series A,35,India,info@eduhive.org
3,RetailRocket,Retail,Series C,500,United Kingdom,sales@@retailrocket.co.uk
4,HealthWave,HealthTech,Series D,1200,United States,support@healthwave.com

In [5]:
df = clean_column_names(df)
df.head()

,company_name,industry,funding_stage,employee_count,location,email
0,TechNova,SaaS,Series B,150,United States,contact@technova.com
1,FinSmart,Fintech,Seed,8,Canada,hello@finsmart
2,EduHive,EdTech,Series A,35,India,info@eduhive.org
3,RetailRocket,Retail,Series C,500,United Kingdom,sales@@retailrocket.co.uk
4,HealthWave,HealthTech,Series D,1200,United States,support@healthwave.com

In [6]:
df = verify_emails(df)
df[['email', 'email_status']].head()

                       email email_status
0       contact@technova.com        Valid
1             hello@finsmart      Invalid
2           info@eduhive.org        Valid
3  sales@@retailrocket.co.uk      Invalid
4     support@healthwave.com        Valid

In [7]:
preferred_industries = ['SaaS', 'Fintech']
min_funding_stage = 'Series A'
emp_min = 10
emp_max = 500
preferred_location = 'United States'

In [8]:
df = score_leads(
    df,
    preferred_industries=preferred_industries,
    min_funding_stage=min_funding_stage,
    emp_min=emp_min,
    emp_max=emp_max,
    preferred_location=preferred_location
)

In [9]:
df[['company_name', 'email', 'email_status', 'lead_score']].sort_values(by='lead_score', ascending=False).head(10)

     company_name                     email email_status  lead_score
0        TechNova      contact@technova.com        Valid          75
8         FoodHub         hello@foodhub.com        Valid          55
10     TravelEase    support@travelease.com        Valid          55
2         EduHive          info@eduhive.org        Valid          45
6         BuildIt                       NaN      Invalid          45
9         MediPro        contact@medipro.au        Valid          45
11  MarketInsight        data@marketinsight      Invalid          45
12        SafeNet          hello@safenet.ca        Valid          45
14  UrbanMobility  contact@urbanmobility.de        Valid          45
4      HealthWave    support@healthwave.com        Valid          40